.col-sm-12
  .card
    .card-body
      %h5.card-title
        = link_to article.title, article_path(article)
      %p.card-text
        = article.created_at.strftime('%Y年%m月%d日 %a')
      %p.card-text
        タグでも入れる？
